if SHIELD_TULIP64_LEFT

config ZMK_KEYBOARD_NAME
    default "Tulip64"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_TULIP64_LEFT || SHIELD_TULIP64_RIGHT

config ZMK_SPLIT
    default y

endif
